.recomendationsContainer {
  overflow: hidden;
  width: 350px;
}

.recommendationHolder {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  align-items: center;
}

.recommendationHolder li {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.recommendationHolder li img {
  height: 150px;
  width: 150px;
}
