.fixFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  width: 100%;
  padding: 1rem;

  img {
    width: 30px;
    height: 30px;
  }
}
